/*  
	Nollställning från:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, main, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: black;
}

#desktop, #displayBody, #memBody, #newsBody {
    background-image: url("images/green_parchment_paper_wallpaper_texture_seamless.jpg");
}

#desktop {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

nav {
    height: 104px;
    background-image: url("images/green_parchment_paper_background_1800x1600.jpg");
    background-repeat: repeat-x;
}

nav ul {
    margin-left: 100px;
}

nav li {
    display: inline;
}

nav a, nav img {
    padding: 10px;
}

nav img {
    margin-top: 10px;
}

#memBody main {
    width: 555px;
    margin-top: 10px;
}

#memBody table {
    border: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 17px;
}

#memBody td {
    padding: 5px;
}

#memBody img {
    border: 1px black solid;
    padding: 2px;
}

#memBody p {
    width: 515px;
    font-family: Georgia;
    font-size: 14pt;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

#displayArea img {
    display: block;
    margin: 0 auto;
}

#displayArea a {
    background-color: rgb(255, 225, 196);
    padding: 5px;
    margin: 10px;
    display: block;
    float: left;
    text-decoration: none;
}

#waitMessage {
    width: 100%;
    height: 20px;
    background-color: white;
    display: block;
    padding: 20px;
}

#waitMessage p {
    font-family: Georgia;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -15px;
}

#waitMessage img {
    display: inline;
    padding-left: 180px;
    margin-top: 5px;
}

#waitMessage .hidden {
    display: none;
}

.rssFeed {
    background-color: rgb(255, 240, 225);
    padding: 10px;
}

.rss_title {
    font-family: Garamond;
    background-color: rgb(255, 225, 196);
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid rgb(255, 182, 108);
    border-bottom: 1px solid rgb(255, 182, 108);
    font-size: 14pt;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rssFeed p, .rssFeed a {
    font-family: Times;
    font-size: 12pt;
}

.rssFeed p {
    padding-top: 10px;
    padding-bottom: 10px;
}
